header {
    margin-top: 1rem !important; 
    margin-bottom: 1rem !important;
}
header h1 {
    font-size: 18px !important;
    padding: 0 40px !important;
}

.reservoir-h4 {
    display:none !important;
}

@media (min-width: 884px) {
    header h1 { 
        font-size: 20px !important;
        padding: 0 200px !important; 
    }
}

/* Moonbird Card */
.moonbird-card label {
  color: #888;
}
.moonbird-card .leading-6 {
  color: #888;
}
.moonbird-card th p.leading-6, .moonbird-card td p.leading-6 {
  color: #fff;
}

@media (min-width: 1280px) {
  .moonbird-card {
    position: relative;
  }
  .moonbird-card .moonbird-owner {
    position: absolute;
    top: 30px;
    right: 60px;
  }
}
