header {
    margin-top: 1rem !important; 
    margin-bottom: 1rem !important;
}
header h1 {
    font-size: 18px !important;
    padding: 0 40px !important;
}

.reservoir-h4 {
    display:none !important;
}

@media (min-width: 884px) {
    header h1 { 
        font-size: 20px !important;
        padding: 0 200px !important; 
    }
}